[submodule "robotic-warehouse"]
	path = robotic-warehouse
	url = https://github.com/MarkHaoxiang/robotic-warehouse.git
[submodule "packages/robotic-warehouse"]
	path = packages/robotic-warehouse
	url = https://github.com/MarkHaoxiang/robotic-warehouse.git
